html,
body {
    margin: 0.25rem 0.5rem;
    font-family: Verdana, Trebuchet, Helvetica, Arial, sans-serif;
    font-size: 16px;
    text-align: left;
    line-height: 1.5;

    display: flex;
    flex-direction: column;
}

h1,
h2,
h3 {
    text-align: center;
    margin: 0.5rem 0;
}

p {
    margin: 0.25rem 0;
}

input,
select,
button {
    font-family: Verdana, Trebuchet, Helvetica, Arial, sans-serif;
}

/* File upload area */
#excel-word-files,
#presets {
    width: 100%;
    margin: 1rem 0;
    display: flex;
    flex-direction: row;
}

.fileGroup,
.presetDiv {
    width: 50%;
    max-width: 50%;
    display: flex;
    flex-direction: column;
}

#excel-file-button,
#word-file-button {
    width: 10rem;
}


/* Presets area */
#presets {
    border-top: 2px solid #00000030;
}

#presets div {
    padding: 1.5rem 3rem 1.5rem;
    display: flex;
    flex-direction: row;
}

#save-preset-input,
#load-preset-select {
    margin-left: 0.5rem;
    margin-right: 1rem;
}

#save-preset-error {
    text-align: center;
}

/* Rows for specifying which cells to pull */
#all-excel-groups {
    border-top: 2px solid #00000030;
}

.excelGroup {
    padding: 0.5rem 0.25rem;
    border-bottom: 2px dashed #00000030;

    display: flex;
    justify-content: space-around;
}

.excelGroup input,
.excelGroup button,
.excelGroup p,
.excelGroup select,
#save-preset-input,
#load-preset-select,
#save-preset-button,
#load-preset-button,
#delete-preset-button {
    text-align: center;
    width: 8rem;
    height: 1.5rem;
}

#delete-preset-button {
    width: 5rem;
    margin-left: 1rem;
}

.excelGroup input,
.excelGroup select,
#save-preset-input,
#load-preset-select {
    border: none;
    border-bottom: solid gray 1px;
}

.excelGroup select,
.excelGroup button,
#load-preset-select,
#save-preset-button,
#load-preset-button,
#delete-preset-button {
    height: 1.9rem;
}

/* Remaining buttons */
.centered {
    text-align: center;
}

#add-excel-group,
#run {
    width: 12rem;
    height: 2rem;
    margin: 0.5rem 0;
}